@media screen and (max-width: 700px) {
    
    main {
        min-width: fit-content;
    }

    .responsive--navbar {
        position: relative;
    }

    .responsive--navbar img {
        position: absolute;
        display: block;
        right: 2%;
        top: -170px;
    }

    main {
        align-content: center;
    }

    .content {
        width: 375px;
        max-width: calc(100% - 13px);
        min-width: fit-content;
    }

    .navbar {
        display: none;
    }

    .header {
        align-content: center;
        margin-top: 190px;
        margin-right: auto;
        margin-left: auto;
        height: 50vh;
    }

    .hero {
        flex-direction: column;
        min-width: fit-content;
    }

    .header--img {
        position: relative;
        min-width: fit-content;
    }

    .header--img .avatar {
        width: 170px;
        height: 170px;
        min-width: fit-content;
        /* position: absolute; */
        top: -620px;
        right: 76%;
    }

    .shadow {
        width: 170px;
        height: 170px;
        position: absolute;
        top: -760px;
        right: 40%;
        min-width: fit-content;
        margin-bottom: 10px;
    }

    .header--content h1 {
        width: 312px;
        text-align: center;
        font-size: 4.0rem;
        margin-left: -4%;
        margin-bottom: 70px;
        min-width: fit-content;
    }

    .header--content p {
        width: 327px;
        text-align: center;
        font-size: 1.6rem;
        margin-top: 20px;
        margin-right: 100%;
        margin-left: 4.5%;
        min-width: fit-content;
    }

    .header--button {
        align-self: center;
        margin-left: 50%;
        margin-right: 53%;
        margin-top: 10%;
        min-width: fit-content;
    }

    /* Activities */

    .activities {
        margin-top: 5%;
        min-width: 100%;
        /* max-width: 100%; */
        position: relative;
        width: 380px;
        max-width: fit-content;
    }

    .activities .row > span {
        font-size: 1.8rem;
        margin-bottom: 3%;
    }

    .blog {
        width: 354px;
        height: 266px;
        flex-shrink: 0;
        align-content: center;
        align-items: center;
        margin: auto;
        min-width: fit-content;
    }

    .blog h2 {
        width: 327px;
        font-size: 2.2rem;
    }

    .blog--content {
        width: 314px;
        height: 117px;
        flex-shrink: 0;
        font-size: 1.6rem;
    }

    .blog .blog--time {
        width: 230px;
    }

    .blog .blog--time span {
        font-size: 1.3rem;
    }

    .activities .row {
        flex-direction: column;
        gap: 20px;
        min-width: fit-content;
    }

    .activities .row > a {
        display: none;
    }

    .blog .blog--time {
        margin-top: -35px;
        width: 327px;
    }

    .blog .blog--content {
        font-size: 1.3rem;
        width: 327px;
    }

    .blog .blog--time img {
        left: 30%;
        min-width: fit-content;
    }

    /* Featured */
    .featured .content > span {
        font-size: 1.8rem;
        margin-bottom: 10%;
    }

    .featured .content .works .work--image img {
        width: 365px;
        height: 266px;
        flex-shrink: 0;
        align-self: center;
        margin: auto;
        min-width: fit-content;
        max-width: fit-content;
    }

    .featured .works {
        flex-direction: column;
        margin: auto;
        min-width: fit-content;
        border-bottom: none
    }

    .work--content h2 {
        font-size: 2.4rem;
        margin-bottom: -5px;
    }

    .works .work--content .row {
        margin-top: 10px;
    }

    .row .year {
        font-size: 1.6rem;
    }

    .row .work--name {
        font-size: 1.6rem;
    }

    .work--content .details p {
        width: 350px;
        height: 117px;
        flex-shrink: 0;
        font-size: 1.6rem;
        margin-top: 10px;
        padding-bottom: 1px;
        border-bottom: 2px solid var(--Gray-5, #e0e0e0);
    }

    /* Footer */
    footer {
        margin-top: 150px;
        display: flex;
        min-width: fit-content;
    }

    footer .social-icon {
        margin-left: auto;
        margin-right: auto;
        min-width: fit-content;
    }
}
