@media screen and (max-width: 800px) {
    
    main {
        min-width: fit-content;
    }

    .responsive--navbar {
        position: relative;
    }

    .responsive--navbar i {
        font-size: 40px;
        display: block;
        position: absolute;
        right: 15px;
        top: -140px;
    }

    main {
        align-content: center;
    }

    .content {
        width: 375px;
        max-width: calc(100% - 13px);
    }

    .navbar {
        display: none;
    }

    .header {
        align-content: center;
        margin-top: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    .hero {
        flex-direction: column;
        min-width: fit-content;
    }

    .header--img {
        position: relative;
        min-width: fit-content;
    }

    .header--img .avatar {
        width: 170px;
        height: 170px;
        min-width: fit-content;
        /* position: absolute; */
        top: -580px;
        right: 20%;
    }

    .shadow {
        width: 170px;
        height: 170px;
        position: absolute;
        top: -720px;
        right: 20%;
        min-width: fit-content;
    }

    .header--content h1 {
        width: 375px;
        text-align: center;
        font-size: 3.2rem;
        margin-left: -4%;
        min-width: fit-content;
    }

    .header--content p {
        width: 327px;
        text-align: center;
        font-size: 1.6rem;
        margin-top: 20px;
        margin-right: 100%;
        margin-left: 4.5%;
        min-width: fit-content;
    }

    .header--button {
        align-self: center;
        margin-left: 50%;
        margin-right: 53%;
        margin-top: 10%;

    }

    /* Activities */

    .activities {
        margin-top: 35%;
        min-width: 100%;
        /* max-width: 100%; */
        position: relative;
        width: 380px;
    }

    .activities .row > span {
        font-size: 1.8rem;
        margin-bottom: 3%;
    }

    .blog {
        width: 354px;
        height: 266px;
        flex-shrink: 0;
        align-content: center;
        align-items: center;
        margin: auto;
    }

    .blog h2 {
        width: 327px;
        font-size: 2.2rem;
    }

    .blog--content {
        width: 314px;
        height: 117px;
        flex-shrink: 0;
        font-size: 1.6rem;
    }

    .blog .blog--time {
        width: 230px;
    }

    .blog .blog--time span {
        font-size: 1.3rem;
    }

    .activities .row {
        flex-direction: column;
        gap: 20px;
    }

    .activities .row > a {
        display: none;
    }

    .blog .blog--time {
        margin-top: -35px;
        width: 327px;
    }

    .blog .blog--content {
        font-size: 1.3rem;
        width: 327px;
    }

    .blog .blog--time img {
        left: 30%;
    }

    /* Featured */
    .featured .content > span {
        font-size: 1.8rem;
        margin-bottom: 10%;
    }

    .featured .content .works .work--image img {
        width: 365px;
        height: 266px;
        flex-shrink: 0;
        align-self: center;
        margin: auto;
    }

    .featured .works {
        flex-direction: column;
        margin: auto;
    }

    .work--content h2 {
        font-size: 2.4rem;
        margin-bottom: -5px;
    }

    .row .year {
        font-size: 1.6rem;
    }

    .row .work--name {
        font-size: 1.6rem;
    }

    .work--content .details p {
        width: 350px;
        height: 117px;
        flex-shrink: 0;
        font-size: 1.6rem;
    }

    /* Footer */
    footer {
        margin-top: 150px;
        display: flex;
    }

    footer .social-icon {
        margin-left: auto;
        margin-right: auto;
    }
}